body {
    margin: 0;
    padding: 30px;
    background-color: gainsboro;
}

.img_align {
    float: right;
    margin-top: 50px;
    height: 100px;
    width: 110px;
    margin-left: 10px;
}
.post {
    display: inline-block;
    background: white;
    padding: 20px;
    border: 1px solid darkgrey;
    margin: 5px;
    width: 25%;
    vertical-align: middle;
}
.post__title {
    display: inline;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}
